@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 

*{border:1px black solid;
  margin:1px;}
  
    
    .main{
     width:80%;
     margin: 0 auto;
     background: gold;
    }
    nav{
    display:flex;
    justify-content:space-around;
    position:sticky;
    top: 0;
    background: gold;
    }
    .splash{width:100%}
    
    p{font-size: 2vw;}
    
    .products{
      display:flex;
      justify-content:space-around;
    }
    
    .product{
     width:30%;
    }
    
    .productImg{
     width:100%
    }

    .Satisfy{
      font-family: "Satisfy", serif;
  font-weight: 400;
  font-style: normal;
    }

    a{
    text-decoration: none;
    border: 0px;
    }